* {
    font-family: "Josefin Sans", "Arial", sans-serif;
}

.centered {
    text-align: center;
}

.bg-nc {
    background-color: #9CBFD8;
}

body {
    min-height: 100vh;
}

html {
    overflow: auto;
}

.is-active {
    font-weight: bold;
}

.navbar-item:hover {
    font-weight: bold;
}

.hgt-5 {
    height: 5vh;
}

.border-nc {
    border-color: #9CBFD8;
}

.width-40 {
    width: 40%;
}